<div id="home-page"> 
<div id= "all-books" class="book-list-container gap-3 mt-4">
   <% @books.each do |book| %> 
      <div class="single-book">
        <% if book.cover_edition_key %>
         <%= image_tag book.cover_edition_key, class: "card-img-left img-fluid me-3 rounded float-left book-image" %>
       <% else %>
         <%= image_tag "testImgL.jpg", class: "img-fluid me-3 rounded float-left book-image" %>
        <% end %>

        <div class="book-body"> 
            <h5 class="book-title">
              <%= book.title %>
            </h5>
            <p class="book-author">
              <%= book.author_name %>
            </p>
            <small class="book-year">
              <%= book.first_publish_year %> 
            </small>
        </div>
        
        <div>
          <td><%= link_to "Edit this book", edit_book_path(book) %> </td> 
         <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   
         </div>
         </div>
       <% end %> 
   </div> 

</div>
<div class="pages"> 
   <div class="mt-4 pages"> 
     <%= paginate @books %> 
   </div> 
</div>
