<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>First publish year:</strong>
    <%= book.first_publish_year %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= book.cover %>
  </p>

</div>
