
<div id="books-page" class="form-outline mt-4">
   <%= form_with model: @book, url: books_path do |form| %>
    <div class="add-book-page-outter-div">
      <%= form.text_field :search, class: "search-box form-control m-3", placeholder:"Search books", href: "#", id: "search-bar", role: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false", autocomplete: "off" %>

      <%= form.submit class:"btn btn-primary"%>

      <div>
        
         <div class="field">
            <%= form.label :title, style: "display: block" %>
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.label :author_name , style: "display: block" %>
            <%= form.text_field :author_name %>
          </div>

          <div class="field">
            <%= form.label :first_publish_year , style: "display: block" %>
            <%= form.number_field :first_publish_year %>
          </div>
            <%= form.text_field :cover_edition_key, type: "hidden" %>
        </div>
       

      </div>

    <div>
      <div id="search-list", class="book-list-container gap-3" aria-labelledby="search"></div>
    </div>


   <% end %>
</div>
