   <div class="single-book">
      <% if @book.cover_edition_key %>
       <%= image_tag @book.cover_edition_key, alt:"/images/testImgL.jpg", class: "card-img-left img-fluid me-3 rounded float-left book-image" %>
     <% else %>
       <%= image_tag "testImgL.jpg", class: "img-fluid me-3 rounded float-left book-image" %>
      <% end %>

      <div class="book-body"> 
          <h5 class="book-title tc-l-grey">
            <%= @book.title %>
          </h5>
          <p class="book-author tc-l-grey">
            <%= @book.author_name %>
          </p>
          <small class="book-year tc-l-grey">
            <%= @book.first_publish_year %> 
          </small>
      </div>
      
      <div>
        <td><%= link_to "Edit this book", edit_book_path(@book) %> </td> 

       <%= button_to 'Destroy', @book, method: :delete %>
      </div>
   </div>

